.btn {
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid rgb(255, 192, 192);
  color: rgb(255, 192, 192);
}
