.card {
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.main__right .card {
  max-width: 260px;
  
}

.card__top {
  margin-bottom: 15px;
}
.card__image {
  border-radius: 5px;
  object-fit: cover;
}

/* .card__label {

} */

.card__title {
  margin-bottom: 10px;
}

.card__descr {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

/* .card__details-wrapper {

} */

.card-price{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

 .btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
 }