.card {
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.card__top {
  margin-bottom: 15px;
}
.card__image {
  border-radius: 5px;
  object-fit: cover;
}

/* .card__label {

} */

.card__title {
  margin-bottom: 10px;
}

.card__descr {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

/* .card__details-wrapper {

} */

.counter-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.counter__control {
  padding-top: 4px;
  width: 25px;
  height: 25px;
  background-color: rgb(212, 212, 212);
  text-align: center;
  cursor: pointer;
}

.counter__control:hover {
  background-color: rgb(241, 183, 116);
}

.counter__current {
  padding-top: 4px;
  width: 25px;
  height: 25px;
  background-color: rgb(212, 212, 212);
  text-align: center;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

